{% extends "base.html" %}
{% block content %}

<header class="bg-white shadow">
	<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
		<h1 class="text-3xl font-bold leading-tight text-gray-900">
			Loader
		</h1>
	</div>
</header>
<main>
	<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
		<div class="px-4 py-6 sm:px-0">
			<!-- Loader Content -->
			<div id="load_bytes"></div>
			<div id="load_ms"></div>
		</div>
	</div>
</main>

<div class="ml-8">
</div>
<script type="module">
	import { startLoader } from '/static/loader.js';
	startLoader();
</script>
{% endblock %}