{% extends "base.html" %}
{% block content %}

<style>
	.webgl {
		height: 800px
	}
</style>

<header class="bg-white shadow">
	<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
		<h1 class="text-3xl font-bold leading-tight text-gray-900">
			Viewer
		</h1>
	</div>
</header>
<main>
	<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
		<!-- Viewer Content -->
		<div class="p-8">
			<input type="checkbox" id="showGrid" checked>
			<label for="ShowGrid">Show Grid</label><br>
			<label for="selectCar">Choose a car:</label>
			<select id="selectCar" name="carlist" form="carform">
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
				<option value="opel">Opel</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<div id="WebGLContainer" class="webgl"></div>
	</div>
</main>


<script type="module">
	import { startViewer } from '/static/viewer.js';
	startViewer();	
</script>
{% endblock %}