{% extends "base.html" %}
{% block content %}

<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
	<div class="p-8">
		<input type="checkbox" id="showGrid" checked>
		<label for="ShowGrid">Show Grid</label><br>
		<label for="selectLoad">TiledImageVisual Load:</label>
		<select id="selectLoad" form="tiledImageVisual">
			<option value="manual">Manual</option>
			<option value="one">One</option>
			<option value="all">All</option>
		</select>
	</div>
	<div id="WebGLContainer" class="webgl"></div>
</div>


<script type="module">
	import { startViewer } from '/static/viewer.js';
	startViewer();	
</script>
{% endblock %}